# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Heavy Assets / Models
/models/
*.pt
*.onnx
*.safetensors
*.bin
*.h5

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables & secrets
.env